<div class="card-header ">GENRES</div>
<div class="carousel-inner w-100 " role="listbox">
  <div class="row">
    <div class="carousel-item active ">
      <div class="card-group">
        <div class="card">
          <button class="btn btn-default" data-bs-toggle="button" autocomplete="off">
            <img src= "assets/action.png" class="card-img" alt="">
          </button>
        </div>
        <div class="card">
          <button class="btn btn-default" data-bs-toggle="button" autocomplete="off">
            <img src= "assets/adult-anim.png" class="card-img" alt="">
          </button>
        </div>
        <div class="card">
          <button class="btn btn-default" data-bs-toggle="button" autocomplete="off">
            <img src= "assets/adven.png" class="card-img" alt="">
          </button>
        </div>
        <div class="card">
          <button class="btn btn-default" data-bs-toggle="button" autocomplete="off">
            <img src= "assets/anime.png" class="card-img" alt="">
          </button>
        </div>
        <div class="card">
          <button class="btn btn-default" data-bs-toggle="button" autocomplete="off">
            <img src= "assets/black.png" class="card-img" alt="">
          </button>
        </div>

      </div>
      <a class="carousel-control-prev w-auto" href="#recipeCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
        <span class="sr-only"></span>
      </a>
      <a class="carousel-control-next w-auto" href="#recipeCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
        <span class="sr-only"></span>
      </a>
    </div>
  </div>