<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-body">My Stuff</h5>
     Use the <svg class="bi" width="32" height="32" fill="currentColor">
      <use xlink:href="/assets/bootstrap-icons.svg#plus-circle" />
  </svg> button to add content you want to keep track of.
  </div>
</div>
<div class="row-cols-5">
<div class="card-group">
    <div class="card">
      <button class="btn btn-default" data-bs-toggle="button" autocomplete="off">
        <img src={{image}} class="card-img" alt="">
      </button>
    </div>
  </div>
  </div>