<div class="card bg-image text-white">
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap" rel="stylesheet">
    <img src="assets/2020-show.png" class="card-img" alt="" width="90" height="600">
    <div class="card-img-overlay h-100 d-flex flex-column justify-content-end ">
        <p class="card-text">WATCH THE NEW EPISODE
        </p>
        <h5 class="card-title "></h5>
        <button class="btn btn-default " data-bs-toggle="button" autocomplete="off"><img src="assets/2020-title.png"
                class="" alt="" height="80"></button>
        <h5 class="card-text">S44 E13 - Gone at Dawn</h5>
        <p class="card-text">A young anchorman, Jodi Huisentruit, vanishes from her home. </p>
        <p><button class="btn btn-light"><svg class="bi" width="19" height="20" fill="currentColor">
                    <use xlink:href="/assets/bootstrap-icons.svg#play-fill" />
                </svg>
                PLAY
            </button>
            <button class="btn btn-outline-light mx-2" height="">DETAILS</button>
            <button class="btn btn-default"><svg class="bi" width="19" height="32" fill="white">
                    <use xlink:href="/assets/bootstrap-icons.svg#three-dots-vertical" />
                </svg>
            </button>
        </p>
    </div>
</div>