div, style, .hu-footer {
    color: white;
    outline-style: solid;
    outline-color: transparent;
    font-family: 'Space Grotesk', sans-serif;
    text-align: left;
    max-width: 100%;
    overflow-x: hidden;
    
 }
