<footer class="py-3 my-4">
    <div class="d-flex justify-content-left py-4 my-4 border-top">
        <ul class="list-unstyled d-flex">
            <button class="btn btn-default"><svg class="bi" width="32" height="32" fill="grey">
                    <use xlink:href="/assets/bootstrap-icons.svg#facebook" />
                </svg></button>
            <button class="btn btn-default"><svg class="bi" width="32" height="32" fill="grey">
                    <use xlink:href="/assets/bootstrap-icons.svg#twitter" />
                </svg></button>
            <button class="btn btn-default"><svg class="bi" width="32" height="32" fill="grey">
                    <use xlink:href="/assets/bootstrap-icons.svg#youtube" />
                </svg></button>
            <button class="btn btn-default"><svg class="bi" width="32" height="32" fill="grey">
                    <use xlink:href="/assets/bootstrap-icons.svg#instagram" />
                </svg></button>
            <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24">
                        <use xlink:href="#facebook"></use>
                    </svg></a></li>
        </ul>
    </div>
    <ul class="nav justify-content-center pb-5 mb-8 mx-">
        <li class="nav-item"><a href="#" class="nav-link px-10 text-muted">About Ads</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-9 text-muted">Terms of Use</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-9 text-muted">Privacy Policy</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-9 text-muted">Do Not Sell My Personal Information</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-9 text-muted">Your California Privacy Rights</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-9 text-muted">TV Parental Guidelines</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-9 text-muted">Sitemap</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-9 text-muted">© 2022 Hulu, LLC</a></li>
    </ul>

</footer>