<nav class="navbar navbar-expand-lg navbar-dark shadow-5-strong">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="assets/hulu-logo-black.png" alt="" width="70" height="25">
        </a>
        <a htref="#" class="btn btn-default">
            <button class="btn btn-default" data-bs-toggle="button" autocomplete="off">HOME
                <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap"
                    rel="stylesheet">
            </button>
            <button class="btn btn-default">TV</button>
            <button class="btn btn-default">MOVIES</button>
            <button class="btn btn-default">MY STUFF</button>
            <button class="btn btn-default">HUBS</button>
        </a>

        <div class="m-2">
                <svg class="bi" width="32" height="32" fill="currentColor">
                    <use xlink:href="/assets/bootstrap-icons.svg#search" />
                </svg>
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false">
                <img src="assets/j-profile.png" alt="" width="45" height="45">
            </button>
            <ul class="dropdown-menu dropdown-menu-left">
                <li><a class="dropdown-item" href="#">Manage Profiles</a>
                <li><a class="dropdown-item" href="#">Account</a></li>
                <li><a class="dropdown-item" href="#">Help Center</a></li>
                <li><a class="dropdown-item" href="#">Log Out</a></li>
                
            </ul>
        </div>
    </div>
</nav>